{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<style>
  .row{
      margin-top: 50px;
  }
  
  </style>
      <div class="row d-flex justify-content-center">
          <div class="col-md-4">
<h1>{% trans "Sign In" %}</h1>




 <form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ 'redirect_field_name' }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  <hr>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  
 </form>




{% get_providers as socialaccount_providers %}

  {% include "socialaccount/snippets/provider_list.html" with process="login" %}

{% if socialaccount_providers %}
<h3>Doesnt have account ?</h3>
 <a href="{{ signup_url }}" class="btn btn-primary" >sign up</a>

<div class="socialaccount_ballot">



 

</div>
          </div>
          </div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}  
{% endif %}


{% endblock %}