{%load navbar_template_tags%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid"> 
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
   <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'products'%}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'stores'%}">Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'contact'%}">Contact</a>
        </li>
        
      </ul>
    </div>
      <div class=" input-group w-auto">
        {% if request.user.is_authenticated%}
        <ul class="navbar-nav">
      
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
            User Panel </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="{{request.user.get_absolute_url}}">{{request.user.username}}</a>
              </li>
                <li>
                  <a class="dropdown-item" href="{%url 'account-settings' %}">Account Settings</a>
                </li>
                
              <li>
                <a class="dropdown-item" href="{%url 'ticket' %}">Create ticket</a>
              </li>
              <li>
                <a class="dropdown-item" href="{%url 'ticket-panel' request.user.id%}">Ticket panel</a>
              </li>
              {%if request.user.is_superuser%}
              <li>
                <a class="dropdown-item" href="{%url 'superuser'%}">Admin Panel</a>
              </li>
              {%endif%}
              <li>
                <a class="dropdown-item" href="{%url 'account_logout'%}">Logout</a>
              </li>
            </ul>
          </li>
          
       
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="{%url 'order-summary'%}"> <span class="badge badge-pill bg-danger">{{request.user | cart_product_count}}</span>
              <span><i class="fas fa-shopping-cart"></i></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="{%url 'inbox'%}"> <span class="badge badge-pill bg-danger">{{request.user | message_inbox_unreaded}}</span>
              <span><i class="far fa-envelope"></i></span></a>
          </li>

       
        </ul>
        {%else%}
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'account_signup'%}">Signup</a>
        </li>
      </ul>
      {%endif%}
    </div>
  </div>
  </div>
</nav>