{%load cart_template_tags%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid"> 
      <a class="navbar-brand" href="{%url 'home'%}">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'products'%}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'stores'%}">Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'contact'%}">Contact</a>
        </li>
      </ul>
    </div>
      <div class="d-flex input-group w-auto">
        {% if request.user.is_authenticated%}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'budget' user.id%}">{{request.user.budget}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{request.user.get_absolute_url}}">{{request.user.name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'user-panel'%}">User panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'create-product'%}">Create Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'order-summary'%}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'user-panel'%}">User panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'account_logout'%}">Logut</a>
          </li>
       
        </ul>
        {%else%}
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'account_signup'%}">Signup</a>
        </li>
      </ul>
      {%endif%}
    </div>
  </div>
</nav>