{%extends 'base.html'%}


{%block content %}

    <ul>
    <li class="list-group-item"><a href="{{request.user.get_update_profile_url}}" class="btn btn-primary">Edit Profile</a></li>
      <li class="list-group-item"><a href="{%url 'change-password'%}" class="btn btn-primary">Change Password</a></li>
      <li class="list-group-item"><a href="{%url 'change-email'%}" class="btn btn-primary">Change Email</a></li>
      <li class="list-group-item"><a href="{%url 'account_reset_password'%}" class="btn btn-primary">Reset Password</a></li>
      <li class="list-group-item"><a href="{%url 'socialaccount_connections'%}" class="btn btn-primary">Connect Account to social</a></li>
    </ul>

{%endblock%}