{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}


    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
    
                    <h3>Change your password</h3>
            <div class="layout__body">
                <form class="form" action="#" method = 'POST'>
                    {%csrf_token%}
                  
                    <div class="form__group">
                      
                        {{form|crispy}}
                    </div>
              
                    <div class="form__action">
                        <a class="btn btn-dark" href="{%url 'home'%}">Cancel</a>
                        <button class="btn btn-success" type="submit">Update</button>
                    </div>
            </div>
        </div>
                </form>
    </div>

{%endblock%}