{%extends 'base.html'%}

{%block title%} 
<title>home</title>

{%endblock%}

{%block content%}
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">Djanphone</h1>
  <h4 class="mb-3">From passionates to passionates</h4>
  {%if not user.is_authenticated%}
  <a class="btn btn-primary" href="{%url 'account_login'%}" role="button">Login </a>
  {%endif%}
</div>

  
        <section class="vh-50" >
          <div class="container py-3 h-50">
        
            <div class="row d-flex justify-content-center align-items-center h-50">
              <div class="col-md-6 col-lg-4 col-xl-3">
        
                <div class="card" style="color: #505661; border-radius: 35px;">
                  <div class="card-body p-3">
        
                    <div class="d-flex">
                      {%if user.is_authenticated%}
                      <h6 class="flex-grow-1">{{city}}</h6>
                      {%else%}
                      <h6 class="flex-grow-1">London</h6>
                      {%endif%}
                    </div>
        
                    <div class="d-flex flex-column text-center mt-5 mb-4">
                      <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temp}}°C </h6>
                      <span class="small" style="color: #868B94">{{main}}</span>
                    </div>
        
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1" style="font-size: 1rem;">
                        <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> {{wind}} km/h </span></div>
                        <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> {{humidity}}% </span></div>
                      </div>
                      <div>
                        <img src="https://openweathermap.org/img/w/{{icon}}.png" width="60px">
                      </div>
                    </div>
        
                  </div>
                </div>
        
              </div>
            </div>
        
          </div>
        </section>

  {%endblock%}