{%extends 'base.html'%}

{%block content%}

<div class="row" style = 'margin-top:20px; margin-left:20px;'>
    <div class="col-12">
        <h2>Order summary </h2>
     
        <br>
       <table class="table table-hover table-light">
          <thead>
             <tr>
                <!-- Your Columns HERE -->
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
             </tr>
          </thead>
     
             <!-- Your rows inside the table HERE: -->
             {%for order_item in order.product.all%}
             <tr>
               <th scope="row">{{forloop.counter}}</th>
                <td>{{order_item.product.title}}</td>
                <td>${{order_item.product.price}}</td>
                <!--ADD QUANTITY ICONS INC/DEC-->
                {%if order_item.quantity%}
                <td><a href = "{%url 'remove-single-item-from-cart' order_item.product.slug%}"><i class="fas fa-minus"></i> </a>
                  {{order_item.quantity}}
                  <a href = "{%url 'add-to-cart' order_item.product.slug%}"><i class="fas fa-plus"></i></a>
               </td>
               {%else%}
               <td>
                  {{order_item.quantity}}
                  <a href = "{%url 'add-to-cart' order_item.product.slug%}"><i class="fas fa-plus"></i></a>
               </td>
               {%endif%}
                {%if order_item.product.discount_price%}
                <td>{{order_item.get_total_product_discount_price}}$
                  <span class="badge badge-danger ">  Saving {{order_item.get_amount_saved}}%   </span> 
                </td>
                {%else%}
                <td>{{order_item.get_total_product_price}}$</td>
                {%endif%}
                <td><a href='{%url "remove-from-cart" order_item.product.slug%}' class = 'btn btn-danger btn-rounded '>Delete product</a></td>
                
                <td>
                   
                </td>
                {% endfor %}
                {%if not order.product.all%}
                <tr>
                  <td colspan="5"><strong>Your cart is empty</strong></td>
               </tr>
               <tr>
                  <td colspan="5"><strong><a class="btn btn-primary float-right" href="{%url 'products'%}"  >Continue Shopping!</strong></td>
               </tr>
               {%endif%}
             </tr>
             <tr>
                {%if order.coupon%}
                <td colspan="4"><strong>Coupon</strong></td>
               <td><strong>${{order.coupon.amount}}</strong></td>
               </tr>
               <tr>
                {%endif%}
               {%if order.product.all%}
                <td colspan="4"><strong>Order Total</strong></td>
               <td><strong>${{order.get_total}}</strong></td>

             </tr>
            
             <tr>
               <td colspan="5"><strong><a class="btn btn-primary float-right" href="{%url 'products'%}"  >Continue Shopping!</strong></td>
                  <td colspan="5"><strong><a class="btn btn-success btn-rounded" href="{%url 'shipping'%}" >Geto the checkout!</strong></td>
                     {%endif%}
            </tr>
             
         
          </tbody>
       </table>
    </div>

{%endblock%}