{%extends 'base.html'%}
{% load ratings %}

{%block content%}



      <div class="container">

        <img src="{{product.image.url}}" />
        <h3>{{product.name}}</h3>
        <h3>About</h3>

          {{product.description}}
       
        {% ratings product %}
    
    <a class="btn btn-primary" href="{{product.get_add_to_cart_url}}">Add to cart</a>
    <a class="btn btn-danger" href="{{product.get_remove_from_cart_url}}">Rem to cart</a>
   
    <a class="btn btn-primary" href="{%url 'add-comment' product.slug%}">Add comment</a>
   
    {% for comment in product_comments %}
          <a href="{% url 'profile' comment.user.id %}" class="thread__authorInfo">
            <div class="avatar avatar--small">
              <img src="{{comment.user.avatar.url}} " style="width: 100px;"/>
            </div>
            <span>@{{comment.user.username}}</span>
          </a>
          <span class="thread__date">{{comment.created | timesince}} ago</span>
        </div>
        {% if request.user == comment.user %}
        <a href = "{%url 'delete-comment' comment.id%}">
        <div class="thread__delete">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>remove</title>
            <path
              d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
            ></path>
          </svg>
        </div>
      </a>
      {%endif%}
 
        {{comment.body}}
 
    {%endfor%}
  
</div>

{%endblock%}