{%extends 'base.html'%}
{% load crispy_forms_tags %}


{%block content%}
<style>
  .col-4 {
  
    margin: 5%;
  }

</style>
<div class="container my-5 py-5">

  <section class="text-center">
    <form method="get" action="">
    <div>
    {{filter.form}}  
    </div>
    <hr>
    <div>
    <button type="submit" class = "btn btn-warning btn-rounded">Search</button>
    </div>
    
     </form>  
      <div class="row">
        {%for item in products%}
        {%if item.is_approved %}
        <div class="col-4">
          <a href="" class="waves-effect waves-light"><img
            src="{{item.image_thumbnail.url}}" class="img-fluid"
            alt=""></a>
        <div class="card">
          <div class="card-body">

            <p class="mb-1"><a href="" class="font-weight-bold black-text">{{item.title}}</a></p>
            {%if item.discount_price %}
            <p class="mb-1"><small class="mr-1"><s></h1>${{item.price}}</s></small><strong>$ {{item.discount_price}}<span class="badge badge-secondary">Discount!</span></strong></p>

            {%else%}
          <p class="mb-1"></small><strong>${{item.price}}</strong></p>
            {%endif%}              
          
            <a href ="{{item.get_absolute_url}}" type="button" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect" >Details</a>
          </div>
        </div>
        </div>
        
        
        {%endif%}
        {%endfor%}
                  {% if is_paginated %}
                  <div class="text-justify-content">
                  <ul class="pagination justify-content-center pagination-circle">
                    {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
             
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" >{{ i }}</a> </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item" ><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  
                    {% endif %}
                  </ul>
                {% endif %} 
              </div>
     

 </div>

  </section>

</div>    


{%endblock%}



<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>