{%extends 'base.html'%}


{%block content%}
<div class="roomList">
    <div class="profile">
      <div class="profile__avatar">
        <div class="avatar avatar--large active">
          <img src="{{products.image.url}}" />
        </div>
      </div>
      <div class="profile__info">
        <h3>{{products.name}}</h3>
        
      </div>
      <div class="profile__about">
        <h3>About</h3>
        <p>
          {{products.description}}
        </p>
      </div>
    </div>



{%endblock%}