{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}

{%block content%}
<form method="get">
  {{ productFilter.form }}
  <button type="submit" class="btn btn-primary">Search</button>
</form>


<!--ITEM PRODUCTS LIST-->
{%for item in products%}
{%if item.is_approved %}
<div class="container">    
      <div class="col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading">{{item.name}}</div>
          <div class="panel-body"><img class="img-responsive" src="{{item.image.url}}" class="img-responsive" style="width: 100px;" alt="Image"></div>
          <a class="btn btn--dark" href="{%url 'product-info' item.id %}">Show info</a>
          <div class="panel-footer">{{item.price}} $</div>
        </div>
      </div>
    {%endif%}
   {%endfor%}   
  </html>  
{%endblock content%}