{%extends 'base.html'%}

{%block content%}

<div class="roomList">
    <div class="profile">
      <div class="profile__avatar">
        
          <img src="{{user.avatar.url}}" class = "rounded mx-auto d-block"/>
        </div>
      </div>
      <div class="profile__info">
        <h3>{{user.name}}</h3>
        {%if request.user == user%}
        <a href="{{user.get_update_profile_url}}" class="btn btn--main btn--pill">Edit Profile</a>
        {%endif%}
      </div>
      <div class="profile__about">
        <h3>About</h3>
        <p>
          {{user.bio}}
        </p>
      </div>
    </div>
    {%endblock%}