{%extends 'base.html'%}


{%block content%}
<div class="container-fluid mt-3 mb-5">

  <!-- Section: Block Content -->
  <section class="mb-4">

    <style>
      .map-container {
        overflow: hidden;
        position: relative;
        height: 0;
      }

      .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    </style>

    <div class="card">

      <div class="row">
        <div class="col-md-6">

          <!-- Google Maps -->
          <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
            <iframe src="https://maps.google.com/maps?q=%20Naci%C5%9Bnij%20CTRL%20i%20przewi%C5%84,%20by%20przybli%C5%BCy%C4%87%20map%C4%99%20%20%20Vatican%20Pharmacy%20Via%20della%20Posta,%2000120%20Citt%C3%A0%20del%20Vaticano,%20Watykan&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
          <!-- Google Maps -->

        </div>

        <div class="col-10 col-md-4 mx-auto align-self-center py-4">

          <h6 class="font-weight-bold grey-text text-uppercase small">Head Office</h6>
          <h5 class="font-weight-normal mb-4">{{store.city}}</h5>
          <p class="text-muted font-weight-light">{{store.street}}</p>
          <p class="text-muted font-weight-light mb-0">{{store.contact}}</p>
          <a class="btn btn-warning btn-rounded" href = "{%url 'store-detail' store.id%}">Get to the store</a>
        </div>
      </div>

    </div>
  
    <div class="card">

      <div class="row">
        <div class="col-md-6">

          <!-- Google Maps -->
          <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
            <iframe src="https://maps.google.com/maps?q=Carrefour%20D%C4%85br%C3%B3wki%205,%2065-096%20Zielona%20G%C3%B3ra&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
          <!-- Google Maps -->
        
        </div>

        <div class="col-10 col-md-4 mx-auto align-self-center py-4">

          
          <h5 class="font-weight-normal mb-4">{{store2.city}}</h5>
          <p class="text-muted font-weight-light">{{store2.street}}</p>
          <p class="text-muted font-weight-light mb-0">{{store2.contact}}</p>
          <a class="btn btn-warning btn-rounded" href = "{%url 'store-detail' store2.id%}">Get to the store</a>

        </div>
      </div>

    </div>
  </section>
  <!-- Section: Block Content -->

</div>
{%endblock%}


<!-- TO DO -->
<div class="container-fluid mt-3 mb-5">

  <!-- Section: Block Content -->
  <section class="mb-4">

    <style>
      .map-container {
        overflow: hidden;
        position: relative;
        height: 0;
      }

      .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    </style>

    <div class="card">

      <div class="row">
        <div class="col-md-6">

          <!-- Google Maps -->
          <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
            <iframe src="" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
          <!-- Google Maps -->

        </div>

        <div class="col-10 col-md-4 mx-auto align-self-center py-4">

          <h6 class="font-weight-bold grey-text text-uppercase small">Head Office</h6>
          <h5 class="font-weight-normal mb-4">Seattle, WA</h5>
          <p class="text-muted font-weight-light">2651 Main Street, Suit 124<br>Seattle, WA, 98101</p>
          <p class="text-muted font-weight-light mb-0">Phone: +1 987 123 6548<br>Email: hello@thetheme.io</p>

        </div>
      </div>

    </div>

  </section>
  <!-- Section: Block Content -->

</div>