{%extends 'base.html'%}


{%block content%}

<h2>Addres : {{store.address}}</h2>
<h3>Contact: {{store.contact}}</h3>
<h4>Owner : {{store.owner}}</h4>
<hr>
  
<form method="get">
  {{ productFilter.form }}
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<hr>
{%if request.user == store.moderator%}


<a class = "btn btn-primary" href ='{%url "modify-product-store" store.id%}'>Modify Products</a>

{%endif%}
<hr>
<div class="container my-5 py-5">

  <section class="text-center">

    <div class="row">

      
        {%for item in products%}
        {%if item.is_approved %}
        <div class="col-4">
      
          <a href="" class="waves-effect waves-light"><img
            src="{{item.image.url}}" class="img-fluid"
            alt=""></a>
     
        <div class="card">
          <div class="card-body">

            <p class="mb-1"><a href="" class="font-weight-bold black-text">{{item.title}}</a></p>
            {%if item.discount_price %}
            <p class="mb-1"><small class="mr-1"><s></h1>${{item.price}}</s></small><strong>$ {{item.discount_price}}<span class="badge badge-secondary">Discount!</span></strong></p>

            {%else%}
          <p class="mb-1"></small><strong>${{item.price}}</strong></p>
            {%endif%}              
          
            <a href ="{{item.get_absolute_url}}" type="button" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect" >Details</a>
          </div>
          </div>
        </div>
        {%endif%}
        {%endfor%}


      </div>

 </div>

  </section>

</div>    


{%endblock%}