{%extends 'base.html'%}


{%block content%}
<style>
  .container{

    margin-top: 50px;


}
  .col-4 {
  
    margin: 5%;
  }

</style>
<div class="container my-5 py-5">
  {%if request.user == store.moderator%}
  <a href = '{%url "modify-product-store" store.id%}' class="btn btn-primary" type="button">Modify Store</a>
  {%endif %}
  <hr>
  <section class="text-center">
    <form method="get" action="">
    <div>
    {{productFilter.form}}  
    </div>
    <hr>
    <div>
    <button type="submit" class = "btn btn-warning btn-rounded">Search</button>
    </div>
    
     </form>  
      <div class="row">
        {%for item in response%}
        {%if item.is_approved %}
        <div class="col-4">
          <a href="" class="waves-effect waves-light"><img
            src="{{item.image_thumbnail.url}}" class="img-fluid"
            alt=""></a>
        <div class="card">
          <div class="card-body">

            <p class="mb-1"><a href="" class="font-weight-bold black-text">{{item.title}}</a></p>
            {%if item.discount_price %}
            <p class="mb-1"><small class="mr-1"><s></h1>${{item.price}}</s></small><strong>$ {{item.discount_price}}<span class="badge badge-secondary">Discount!</span></strong></p>

            {%else%}
          <p class="mb-1"></small><strong>${{item.price}}</strong></p>
            {%endif%}              
          
            <a href ="{{item.get_absolute_url}}" type="button" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect" >Details</a>
          </div>
        </div>
        </div>
        
        
        {%endif%}
        {%endfor%}
        {% if response.has_other_pages %}
        <ul class="pagination justify-content-center pagination-circle">
          {% if response.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ response.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for i in response.paginator.page_range %}
            {% if response.number == i %}
              <li class="page-item active"><a class="page-link" >{{ i }}</a> </li></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if response.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ response.next_page_number }}">Next</a></li>
        
          {% endif %}
        </ul>
      {% endif %}
     

 </div>

  </section>

</div>    



{%endblock%}

