{%extends 'base.html'%}

   
   {%block content%} 
   <style>
      .options{
         text-align: center;
         margin: 50px;

      }



   </style>


   <ul class="list-group">
      <li class="list-group-item"><a href="{%url 'update-user'% }" class="btn btn-primary">Edit Profile</a></li>
      <li class="list-group-item"><a href="{%url 'change-password'%}" class="btn btn-primary">Change Password</a></li>
      <li class="list-group-item"><a href="{%url 'change-email'%}" class="btn btn-primary">Change Email</a></li>
      <li class="list-group-item"><a href="{%url 'account_reset_password'%}" class="btn btn-primary">Reset Password</a></li>
      <li class="list-group-item"><a href="{%url 'socialaccount_connections'%}" class="btn btn-primary">Connect Account to social</a></li>
   
      <li class="list-group-item"><a href="{%url 'budget' user.id%}" class="btn btn-primary">Add money to your wallet</a></li>
      <li class="list-group-item"><a href="{%url 'ticket-panel' user.id%}" class="btn btn-primary">Ticket History</a></li>

   

</ul>
   
   {%endblock content%}