{%extends 'base.html'%}

   
   {%block content%} 
   <style>
      .options{
         text-align: center;
         margin-top: 50px;

      }



   </style>


   <ul class ='options'>
      <li><a href="{%url 'update-user'%}" class="btn btn--main btn--pill">Edit Profile</a></li>
      <li> <a href="#" class="btn btn--main btn--pill">Change Password</a></li>
      <li> <a href="#" class="btn btn--main btn--pill">Change Email</a></li>
      <li><a href="{%url 'account_reset_password'%}" class="btn btn--main btn--pill">Reset Password</a></li>
      <li><a href="{%url 'socialaccount_connections'%}" class="btn btn--main btn--pill">Connect Account to social</a></li>
</ul>
   
   {%endblock content%}